# DHCP / DNS Client (WAN)
nvram set dnssec_enable='{{ dnssec_enable }}'
nvram set dnscrypt_proxy='{{ dnscrypt_proxy }}'
nvram set stubby_proxy='{{ stubby_proxy }}'
nvram set dhcpc_custom='{{ dhcpc_custom }}'
nvram set dnsmasq_edns_size='{{ dnsmasq_edns_size }}'
nvram set dhcpc_minpkt='{{ dhcpc_minpkt }}'

# DHCP / DNS Server (LAN)
nvram set dhcpd_dmdns='{{ dhcpd_dmdns }}'
nvram set dnsmasq_debug='{{ dnsmasq_debug }}'
nvram set dns_addget='{{ dns_addget }}'
nvram set dns_intcpt='{{ dns_intcpt }}'
nvram set dhcpd_gwmode='{{ dhcpd_gwmode }}'
nvram set dhcpd_static_only='{{ dhcpd_static_only }}'
nvram set dnsmasq_gen_names='{{ dnsmasq_gen_names }}'
nvram set dnsmasq_onion_support='{{ dnsmasq_onion_support }}'
nvram set dhcpd_lmax='{{ dhcpd_lmax }}'
nvram set dhcpd_slt='{{ dhcpd_slt }}'
nvram set ipv6_radvd='{{ ipv6_radvd }}'
nvram set ipv6_dhcpd='{{ ipv6_dhcpd }}'
nvram set ipv6_fast_ra='{{ ipv6_fast_ra }}'
nvram set ipv6_lease_time='{{ ipv6_lease_time }}'
nvram set dnsmasq_q='{{ dnsmasq_q }}'
nvram set dns_priv_override='{{ dns_priv_override }}'
nvram set dns_norebind='{{ dns_norebind }}'
nvram set dns_fwd_local='{{ dns_fwd_local }}'
nvram set mdns_enable='{{ mdns_enable }}'
nvram set mdns_reflector='{{ mdns_reflector }}'
nvram set dnsmasq_custom='{{ dnsmasq_custom }}'

# TFTP Server
nvram set dnsmasq_tftp='{{ dnsmasq_tftp }}'
nvram set dnsmasq_tftp_path='{{ dnsmasq_tftp_path }}'
nvram set dnsmasq_pxelan='{{ dnsmasq_pxelan }}'
nvram set dnsmasq_pxelan0='{{ dnsmasq_pxelan0 }}'
nvram set dnsmasq_pxelan1='{{ dnsmasq_pxelan1 }}'
nvram set dnsmasq_pxelan2='{{ dnsmasq_pxelan2 }}'
nvram set dnsmasq_pxelan3='{{ dnsmasq_pxelan3 }}'
