# wl0.1 2.4GHz
nvram set wl0_vifs='{{ wl0_vifs }}'
nvram set wl0.1_ifname='{{ wl0_1_ifname }}'
nvram set wl0.1_radius_port='{{ wl0_1_radius_port }}'
nvram set wl0.1_radius_ipaddr='{{ wl0_1_radius_ipaddr }}'
nvram set wl0.1_radius_key='{{ wl0_1_radius_key }}'
nvram set wl0.1_wep_bit='{{ wl0_1_wep_bit }}'
nvram set wl0.1_wep='{{ wl0_1_wep }}'
# nvram set wl0.1_hwaddr='11:11:11:11:11:11'
nvram set wl0.1_passphrase='{{ wl0_1_passphrase }}'
nvram set wl0.1_crypto='{{ wl0_1_crypto }}'
nvram set wl0.1_macmode='{{ wl0_1_macmode }}'
nvram set wl0.1_maclist='{{ wl0_1_maclist }}'
nvram set wl0.1_security_mode='{{ wl0_1_security_mode }}'
nvram set wl0.1_auth_mode='{{ wl0_1_auth_mode }}'
nvram set wl0.1_akm='{{ wl0_1_akm }}'
nvram set wl0.1_mode='{{ wl0_1_mode }}'
nvram set wl0.1_closed='{{ wl0_1_closed }}'
nvram set wl0.1_ap_isolate='{{ wl0_1_ap_isolate }}'
nvram set wl0.1_ssid='{{ wl0_1_ssid }}'
nvram set wl0.1_radio='{{ wl0_1_radio }}'
nvram set wl0.1_key='{{ wl0_1_key }}'
nvram set wl0.1_key1='{{ wl0_1_key1 }}'
nvram set wl0.1_key2='{{ wl0_1_key2 }}'
nvram set wl0.1_key3='{{ wl0_1_key3 }}'
nvram set wl0.1_key4='{{ wl0_1_key4 }}'
nvram set wl0.1_wpa_psk='{{ wl0_1_wpa_psk }}'
nvram set wl0.1_wpa_gtk_rekey='{{ wl0_1_wpa_gtk_rekey }}'
nvram set wl0.1_wme='{{ wl0_1_wme }}'
nvram set wl0.1_bss_enabled='{{ wl0_1_bss_enabled }}'
nvram set wl0.1_bss_maxassoc='{{ wl0_1_bss_maxassoc }}'
nvram set wl0.1_auth='{{ wl0_1_auth }}'

# wl1.1 5GHz
nvram set wl1_vifs='{{ wl1_vifs }}'
nvram set wl1.1_ifname='{{ wl1_1_ifname }}'
nvram set wl1.1_radius_port='{{ wl1_1_radius_port }}'
nvram set wl1.1_radius_ipaddr='{{ wl1_1_radius_ipaddr }}'
nvram set wl1.1_radius_key='{{ wl1_1_radius_key }}'
nvram set wl1.1_wep_bit='{{ wl1_1_wep_bit }}'
nvram set wl1.1_wep='{{ wl1_1_wep }}'
# nvram set wl1.1_hwaddr='22:22:22:22:22:22'
nvram set wl1.1_passphrase='{{ wl1_1_passphrase }}'
nvram set wl1.1_crypto='{{ wl1_1_crypto }}'
nvram set wl1.1_macmode='{{ wl1_1_macmode }}'
nvram set wl1.1_maclist='{{ wl1_1_maclist }}'
nvram set wl1.1_security_mode='{{ wl1_1_security_mode }}'
nvram set wl1.1_auth_mode='{{ wl1_1_auth_mode }}'
nvram set wl1.1_akm='{{ wl1_1_akm }}'
nvram set wl1.1_mode='{{ wl1_1_mode }}'
nvram set wl1.1_closed='{{ wl1_1_closed }}'
nvram set wl1.1_ap_isolate='{{ wl1_1_ap_isolate }}'
nvram set wl1.1_ssid='{{ wl1_1_ssid }}'
nvram set wl1.1_radio='{{ wl1_1_radio }}'
nvram set wl1.1_key='{{ wl1_1_key }}'
nvram set wl1.1_key1='{{ wl1_1_key1 }}'
nvram set wl1.1_key2='{{ wl1_1_key2 }}'
nvram set wl1.1_key3='{{ wl1_1_key3 }}'
nvram set wl1.1_key4='{{ wl1_1_key4 }}'
nvram set wl1.1_wpa_psk='{{ wl1_1_wpa_psk }}'
nvram set wl1.1_wpa_gtk_rekey='{{ wl1_1_wpa_gtk_rekey }}'
nvram set wl1.1_wme='{{ wl1_1_wme }}'
nvram set wl1.1_bss_enabled='{{ wl1_1_bss_enabled }}'
nvram set wl1.1_bss_maxassoc='{{ wl1_1_bss_maxassoc }}'
nvram set wl1.1_auth='{{ wl1_1_auth }}'

# wl2.1 5GHz
nvram set wl2_vifs='{{ wl2_vifs }}'
nvram set wl2.1_ifname='{{ wl2_1_ifname }}'
nvram set wl2.1_radius_port='{{ wl2_1_radius_port }}'
nvram set wl2.1_radius_ipaddr='{{ wl2_1_radius_ipaddr }}'
nvram set wl2.1_radius_key='{{ wl2_1_radius_key }}'
nvram set wl2.1_wep_bit='{{ wl2_1_wep_bit }}'
nvram set wl2.1_wep='{{ wl2_1_wep }}'
# nvram set wl2.1_hwaddr='33:33:33:33:33:33'
nvram set wl2.1_passphrase='{{ wl2_1_passphrase }}'
nvram set wl2.1_crypto='{{ wl2_1_crypto }}'
nvram set wl2.1_macmode='{{ wl2_1_macmode }}'
nvram set wl2.1_maclist='{{ wl2_1_maclist }}'
nvram set wl2.1_security_mode='{{ wl2_1_security_mode }}'
nvram set wl2.1_auth_mode='{{ wl2_1_auth_mode }}'
nvram set wl2.1_akm='{{ wl2_1_akm }}'
nvram set wl2.1_mode='{{ wl2_1_mode }}'
nvram set wl2.1_closed='{{ wl2_1_closed }}'
nvram set wl2.1_ap_isolate='{{ wl2_1_ap_isolate }}'
nvram set wl2.1_ssid='{{ wl2_1_ssid }}'
nvram set wl2.1_radio='{{ wl2_1_radio }}'
nvram set wl2.1_key='{{ wl2_1_key }}'
nvram set wl2.1_key1='{{ wl2_1_key1 }}'
nvram set wl2.1_key2='{{ wl2_1_key2 }}'
nvram set wl2.1_key3='{{ wl2_1_key3 }}'
nvram set wl2.1_key4='{{ wl2_1_key4 }}'
nvram set wl2.1_wpa_psk='{{ wl2_1_wpa_psk }}'
nvram set wl2.1_wpa_gtk_rekey='{{ wl2_1_wpa_gtk_rekey }}'
nvram set wl2.1_wme='{{ wl2_1_wme }}'
nvram set wl2.1_bss_enabled='{{ wl2_1_bss_enabled }}'
nvram set wl2.1_bss_maxassoc='{{ wl2_1_bss_maxassoc }}'
nvram set wl2.1_auth='{{ wl2_1_auth }}'

