# VLAN Ethernet and Wireless Netgear R8000

nvram set vlan0ports='{{ vlan0ports }}'
nvram set vlan1ports='{{ vlan1ports }}'
nvram set vlan2ports='{{ vlan2ports }}'
nvram set vlan3ports='{{ vlan3ports }}'
nvram set vlan4ports='{{ vlan4ports }}'
nvram set vlan5ports='{{ vlan5ports }}'
nvram set vlan6ports='{{ vlan6ports }}'
nvram set vlan7ports='{{ vlan7ports }}'
nvram set vlan8ports='{{ vlan8ports }}'
nvram set vlan9ports='{{ vlan9ports }}'
nvram set vlan10ports='{{ vlan10ports }}'
nvram set vlan11ports='{{ vlan11ports }}'
nvram set vlan12ports='{{ vlan12ports }}'
nvram set vlan13ports='{{ vlan13ports }}'
nvram set vlan14ports='{{ vlan14ports }}'
nvram set vlan15ports='{{ vlan15ports }}'
nvram set vlan0hwname='{{ vlan0hwname }}'
nvram set vlan1hwname='{{ vlan1hwname }}'
nvram set vlan2hwname='{{ vlan2hwname }}'
nvram set vlan3hwname='{{ vlan3hwname }}'
nvram set vlan4hwname='{{ vlan4hwname }}'
nvram set vlan5hwname='{{ vlan5hwname }}'
nvram set vlan6hwname='{{ vlan6hwname }}'
nvram set vlan7hwname='{{ vlan7hwname }}'
nvram set vlan8hwname='{{ vlan8hwname }}'
nvram set vlan9hwname='{{ vlan9hwname }}'
nvram set vlan10hwname='{{ vlan10hwname }}'
nvram set vlan11hwname='{{ vlan11hwname }}'
nvram set vlan12hwname='{{ vlan12hwname }}'
nvram set vlan13hwname='{{ vlan13hwname }}'
nvram set vlan14hwname='{{ vlan14hwname }}'
nvram set vlan15hwname='{{ vlan15hwname }}'
nvram set wan_ifnameX='{{ wan_ifnameX }}'
nvram set wan2_ifnameX='{{ wan2_ifnameX }}'
nvram set wan3_ifnameX='{{ wan3_ifnameX }}'
nvram set wan4_ifnameX='{{ wan4_ifnameX }}'
nvram set manual_boot_nv='{{ manual_boot_nv }}'
# nvram set boardtype='0x0665'
# nvram set boardflags='0x00000110'
nvram set lan_ifnames='{{ lan_ifnames }}'
nvram set lan1_ifnames='{{ lan1_ifnames }}'
nvram set lan2_ifname='{{ lan2_ifname }}'
nvram set lan2_ifnames='{{ lan2_ifnames }}'
nvram set lan3_ifname='{{ lan3_ifname }}'
nvram set lan3_ifnames='{{ lan3_ifnames }}'
nvram set vlan0vid='{{ vlan0vid }}'
nvram set vlan1vid='{{ vlan1vid }}'
nvram set vlan2vid='{{ vlan2vid }}'
nvram set vlan3vid='{{ vlan3vid }}'
nvram set vlan4vid='{{ vlan4vid }}'
nvram set vlan5vid='{{ vlan5vid }}'
nvram set vlan6vid='{{ vlan6vid }}'
nvram set vlan7vid='{{ vlan7vid }}'
nvram set vlan8vid='{{ vlan8vid }}'
nvram set vlan9vid='{{ vlan9vid }}'
nvram set vlan10vid='{{ vlan10vid }}'
nvram set vlan11vid='{{ vlan11vid }}'
nvram set vlan12vid='{{ vlan12vid }}'
nvram set vlan13vid='{{ vlan13vid }}'
nvram set vlan14vid='{{ vlan14vid }}'
nvram set vlan15vid='{{ vlan15vid }}'


# VLAN Ethernet and Wireless Asus RT-AC3200
# nvram set vlan0ports=''
# nvram set vlan1ports='0 2 3 4 5'
# nvram set vlan2ports='5'
# nvram set vlan3ports='1 5*'
# nvram set vlan4ports=''
# nvram set vlan5ports=''
# nvram set vlan6ports=''
# nvram set vlan7ports=''
# nvram set vlan8ports=''
# nvram set vlan9ports=''
# nvram set vlan10ports=''
# nvram set vlan11ports=''
# nvram set vlan12ports=''
# nvram set vlan13ports=''
# nvram set vlan14ports=''
# nvram set vlan15ports=''
# nvram set vlan0hwname=''
# nvram set vlan1hwname='et0'
# nvram set vlan2hwname='et0'
# nvram set vlan3hwname='et0'
# nvram set vlan4hwname=''
# nvram set vlan5hwname=''
# nvram set vlan6hwname=''
# nvram set vlan7hwname=''
# nvram set vlan8hwname=''
# nvram set vlan9hwname=''
# nvram set vlan10hwname=''
# nvram set vlan11hwname=''
# nvram set vlan12hwname=''
# nvram set vlan13hwname=''
# nvram set vlan14hwname=''
# nvram set vlan15hwname=''
# nvram set wan_ifnameX='vlan2'
# nvram set wan2_ifnameX=''
# nvram set wan3_ifnameX=''
# nvram set wan4_ifnameX=''
# nvram set manual_boot_nv='1'
# nvram set boardtype='0x072F'
# nvram set boardflags='0x00000110'
# nvram set lan_ifname='br0'
# nvram set lan_ifnames='vlan1 eth1 eth2 eth3'
# nvram set lan1_ifname='br1'
# nvram set lan1_ifnames='vlan3 wl1.1 wl2.1'
# nvram set lan2_ifname=''
# nvram set lan2_ifnames=''
# nvram set lan3_ifname=''
# nvram set lan3_ifnames=''
# nvram set vlan0vid=''
# nvram set vlan1vid='1'
# nvram set vlan2vid='2'
# nvram set vlan3vid='3'
# nvram set vlan4vid=''
# nvram set vlan5vid=''
# nvram set vlan6vid=''
# nvram set vlan7vid=''
# nvram set vlan8vid=''
# nvram set vlan9vid=''
# nvram set vlan10vid=''
# nvram set vlan11vid=''
# nvram set vlan12vid=''
# nvram set vlan13vid=''
# nvram set vlan14vid=''
# nvram set vlan15vid=''
