# USB Support
nvram set usb_enable='{{ usb_enable }}'
nvram set usb_usb3='{{ usb_usb3 }}'
nvram set usb_usb2='{{ usb_usb2 }}'
nvram set usb_ohci='{{ usb_ohci }}'
nvram set usb_uhci='{{ usb_uhci }}'
nvram set usb_printer='{{ usb_printer }}'
nvram set usb_printer_bidirect='{{ usb_printer_bidirect }}'
nvram set usb_storage='{{ usb_storage }}'
nvram set usb_fs_ext4='{{ usb_fs_ext4 }}'
nvram set usb_fs_ntfs='{{ usb_fs_ntfs }}'
nvram set usb_fs_fat='{{ usb_fs_fat }}'
nvram set usb_fs_exfat='{{ usb_fs_exfat }}'
nvram set usb_fs_hfs='{{ usb_fs_hfs }}'
nvram set usb_ntfs_driver='{{ usb_ntfs_driver }}'
nvram set usb_hfs_driver='{{ usb_hfs_driver }}'
nvram set usb_automount='{{ usb_automount }}'
nvram set script_usbmount="{% if script_usbmount is defined and script_usbmount | length > 0 %}{{ script_usbmount }}{% endif %}"
nvram set script_usbumount="{% if script_usbumount is defined and script_usbumount | length > 0 %}{{ script_usbumount }}{% endif %}"
nvram set idle_enable='{{ idle_enable }}'
nvram set usb_3g='{{ usb_3g }}'
nvram set usb_apcupsd='{{ usb_apcupsd }}'
nvram set script_usbhotplug='{{ script_usbhotplug }}'