# UPnP / NAT-PMP Settings
nvram set upnp_enable='{{ upnp_enable }}'
nvram set upnp_clean='{{ upnp_clean }}'
nvram set upnp_clean_interval='{{ upnp_clean_interval }}'
nvram set upnp_clean_threshold='{{ upnp_clean_threshold }}'
nvram set upnp_secure='{{ upnp_secure }}'
nvram set upnp_lan='{{ upnp_lan }}'
nvram set upnp_lan1='{{ upnp_lan1 }}'
nvram set upnp_lan2='{{ upnp_lan2 }}'
nvram set upnp_lan3='{{ upnp_lan3 }}'
nvram set upnp_mnp='{{ upnp_mnp }}'
nvram set upnp_custom='{{ upnp_custom }}'