# MultiWAN
nvram set mwan_num='{{ mwan_num }}'
nvram set mwan_cktime='{{ mwan_cktime }}'

# WAN0 Settings
nvram set wan_proto='{{ wan_proto }}'
nvram set wan_sta='{{ wan_sta }}'
nvram set wan_islan='{{ wan_islan }}'
nvram set wan_ipaddr='{{ wan_ipaddr }}'
nvram set wan_netmask='{{ wan_netmask }}'
nvram set wan_gateway='{{ wan_gateway }}'
nvram set wan_dns_auto='{{ wan_dns_auto }}'
nvram set wan_dns='{{ wan_dns }}'
nvram set wan_mtu_enable='{{ wan_mtu_enable }}'
nvram set wan_mtu='{{ wan_mtu }}'
nvram set wan_modem_ipaddr='{{ wan_modem_ipaddr }}'
nvram set wan_hilink_ip='{{ wan_hilink_ip }}'
nvram set wan_status_script='{{ wan_status_script }}'
nvram set wan_ckmtd='{{ wan_ckmtd }}'
nvram set wan_wins='{{ wan_wins }}'

# LAN
nvram set lan_ifname='{{ lan_ifname }}'
nvram set lan_stp='{{ lan_stp }}'
nvram set lan_ipaddr='{{ lan_ipaddr }}'
nvram set lan_netmask='{{ lan_netmask }}'
nvram set dhcp_start='{{ dhcp_start }}'
nvram set dhcpd_startip='{{ dhcpd_startip }}'
nvram set dhcpd_endip='{{ dhcpd_endip }}'
nvram set dhcp_lease='{{ dhcp_lease }}'
nvram set dhcp_num='{{ dhcp_num }}'
nvram set lan_proto='{{ lan_proto }}'

nvram set lan1_ifname='{{ lan1_ifname }}'
nvram set lan1_stp='{{ lan1_stp }}'
nvram set lan1_ipaddr='{{ lan1_ipaddr }}'
nvram set lan1_netmask='{{ lan1_netmask }}'
nvram set dhcp1_start='{{ dhcp1_start }}'
nvram set dhcpd1_startip='{{ dhcpd1_startip }}'
nvram set dhcpd1_endip='{{ dhcpd1_endip }}'
nvram set dhcp1_lease='{{ dhcp1_lease }}'
nvram set dhcp1_num='{{ dhcp1_num }}'
nvram set lan1_proto='{{ lan1_proto }}'

nvram set lan_gateway='{{ lan_gateway }}'
nvram set lan_dhcp='{{ lan_dhcp }}'

# Ethernet Ports State - Configuration
nvram set lan_state='{{ lan_state }}'
nvram set lan_desc='{{ lan_desc }}'
nvram set lan_invert='{{ lan_invert }}'

# Wireless Band Steering
nvram set smart_connect_x='{{ smart_connect_x }}'

# Wireless (wl0) / 2.4 GHz
nvram set wl0_radio='{{ wl0_radio }}'
nvram set wl0_mode='{{ wl0_mode }}'
nvram set wl0_net_mode='{{ wl0_net_mode }}'
nvram set wl0_ssid='{{ wl0_ssid }}'
nvram set wl0_closed='{{ wl0_closed }}'
nvram set wl0_channel='{{ wl0_channel }}'
nvram set wl0_nbw_cap='{{ wl0_nbw_cap }}'
nvram set wl0_nctrlsb='{{ wl0_nctrlsb }}'
nvram set wl0_security_mode='{{ wl0_security_mode }}'
nvram set wl0_crypto='{{ wl0_crypto }}'
nvram set wl0_wpa_psk='{{ wl0_wpa_psk }}'
nvram set wl0_wpa_gtk_rekey='{{ wl0_wpa_gtk_rekey }}'

# Wireless (wl1) / 5 GHz
nvram set wl1_radio='{{ wl1_radio }}'
nvram set wl1_mode='{{ wl1_mode }}'
nvram set wl1_net_mode='{{ wl1_net_mode }}'
nvram set wl1_ssid='{{ wl1_ssid }}'
nvram set wl1_closed='{{ wl1_closed }}'
nvram set wl1_channel='{{ wl1_channel }}'
nvram set wl1_nbw_cap='{{ wl1_nbw_cap }}'
nvram set wl1_nctrlsb='{{ wl1_nctrlsb }}'
nvram set wl1_security_mode='{{ wl1_security_mode }}'
nvram set wl1_crypto='{{ wl1_crypto }}'
nvram set wl1_wpa_psk='{{ wl1_wpa_psk }}'
nvram set wl1_wpa_gtk_rekey='{{ wl1_wpa_gtk_rekey }}'

# Wireless (wl2) / 5 GHz
nvram set wl2_radio='{{ wl2_radio }}'
nvram set wl2_mode='{{ wl2_mode }}'
nvram set wl2_net_mode='{{ wl2_net_mode }}'
nvram set wl2_ssid='{{ wl2_ssid }}'
nvram set wl2_closed='{{ wl2_closed }}'
nvram set wl2_channel='{{ wl2_channel }}'
nvram set wl2_nbw_cap='{{ wl2_nbw_cap }}'
nvram set wl2_nctrlsb='{{ wl2_nctrlsb }}'
nvram set wl2_security_mode='{{ wl2_security_mode }}'
nvram set wl2_crypto='{{ wl2_crypto }}'
nvram set wl2_wpa_psk='{{ wl2_wpa_psk }}'
nvram set wl2_wpa_gtk_rekey='{{ wl2_wpa_gtk_rekey }}'