# Time
nvram set tm_sel='{{ tm_sel }}'
nvram set tm_dst='{{ tm_dst }}'
nvram set ntp_updates='{{ ntp_updates }}'
nvram set ntp_server='{{ ntp_server }}'
nvram set ntpd_enable='{{ ntpd_enable }}'
nvram set ntpd_server_redir='{{ ntpd_server_redir }}'
nvram set tm_tz='{{ tm_tz }}'
nvram set ntp_ready='{{ ntp_ready }}'
