# OpenVPN Server Configuration > Server 2 > Basic
nvram set vpns2_eas='{{ vpns2_eas }}'  # to enable set ='1,', otherwise =''
nvram set vpns2_if='{{ vpns2_if }}'
nvram set vpns2_proto='{{ vpns2_proto }}'
nvram set vpns2_port='{{ vpns2_port }}'
nvram set vpns2_firewall='{{ vpns2_firewall }}'
nvram set vpns2_crypt='{{ vpns2_crypt }}'
nvram set vpns2_hmac='{{ vpns2_hmac }}'
nvram set vpns2_digest='{{ vpns2_digest }}'
nvram set vpns2_sn='{{ vpns2_sn }}'
nvram set vpns2_erver2_vpns2_

# OpenVPN Server Configuration > Server 2 > Advanced
nvram set vpns2__server2_vpns2_
nvram set vpns2_{{ vpns2_}'
nvram set vpns2_'{{ vpns2_plan1 }}'
nvram set vpns2_plan2='{{ vpns2_plan2 }}'
nvram set vpns2_plan3='{{ vpns2_plan3 }}'
nvram set vpns2_rgw='{{ vpns2_rgw }}'
nvram set vpns_dns='{{ vpns_dns }}'
nvram set vpns2_pdns='{{ vpns2_pdns }}'
nvram set vpns2_ncp_enable='{{ vpns2_ncp_enable }}'
nvram set vpns2_ncp_ciphers='{{ vpns2_ncp_ciphers }}'
nvram set vpns2_cipher='{{ vpns2_cipher }}'
nvram set vpns2_comp='{{ vpns2_comp }}'
nvram set vpns2_reneg='{{ vpns2_reneg }}'
nvram set vpns2_ccd='{{ vpns2_ccd }}'
nvram set vpns2_c2c='{{ vpns2_c2c }}'
nvram set vpns2_ccd_excl='{{ vpns2_ccd_excl }}'
nvram set vpns2_ccd_val='{{ vpns2_ccd_val }}'
nvram set vpns2_userpass='{{ vpns2_userpass }}'
nvram set vpns2_custom='{{ vpns2_custom }}'
nvram set vpns2_dhcp='{{ vpns2_dhcp }}'
