# OpenVPN Server Configuration > Server 1 > Basic
nvram set vpn_server1_eas='{{ vpn_server1_eas }}'  # to enable set ='1,', otherwise =''
nvram set vpn_server1_if='{{ vpn_server1_if }}'
nvram set vpn_server1_proto='{{ vpn_server1_proto }}'
nvram set vpn_server1_port='{{ vpn_server1_port }}'
nvram set vpn_server1_firewall='{{ vpn_server1_firewall }}'
nvram set vpn_server1_crypt='{{ vpn_server1_crypt }}'
nvram set vpn_server1_hmac='{{ vpn_server1_hmac }}'
nvram set vpn_server1_digest='{{ vpn_server1_digest }}'
nvram set vpn_server1_sn='{{ vpn_server1_sn }}'
nvram set vpn_server1_nm='{{ vpn_server1_nm }}'

# OpenVPN Server Configuration > Server 1 > Advanced
nvram set vpn_server1_poll='{{ vpn_server1_poll }}'
nvram set vpn_server1_plan='{{ vpn_server1_plan }}'
nvram set vpn_server1_plan1='{{ vpn_server1_plan1 }}'
nvram set vpn_server1_plan2='{{ vpn_server1_plan2 }}'
nvram set vpn_server1_plan3='{{ vpn_server1_plan3 }}'
nvram set vpn_server1_rgw='{{ vpn_server1_rgw }}'
nvram set vpn_server_dns='{{ vpn_server_dns }}'
nvram set vpn_server1_pdns='{{ vpn_server1_pdns }}'
nvram set vpn_server1_ncp_enable='{{ vpn_server1_ncp_enable }}'
nvram set vpn_server1_ncp_ciphers='{{ vpn_server1_ncp_ciphers }}'
nvram set vpn_server1_cipher='{{ vpn_server1_cipher }}'
nvram set vpn_server1_comp='{{ vpn_server1_comp }}'
nvram set vpn_server1_reneg='{{ vpn_server1_reneg }}'
nvram set vpn_server1_ccd='{{ vpn_server1_ccd }}'
nvram set vpn_server1_c2c='{{ vpn_server1_c2c }}'
nvram set vpn_server1_ccd_excl='{{ vpn_server1_ccd_excl }}'
nvram set vpn_server1_ccd_val='{{ vpn_server1_ccd_val }}'
nvram set vpn_server1_userpass='{{ vpn_server1_userpass }}'
nvram set vpn_server1_custom='{{ vpn_server1_custom }}'
nvram set vpn_server1_dhcp='{{ vpn_server1_dhcp }}'
