# OpenVPN Server Configuration > Server 1 > Basic
nvram set vpns1_eas='{{ vpns1_eas }}'  # to enable set ='1,', otherwise =''
nvram set vpns1_if='{{ vpns1_if }}'
nvram set vpns1_proto='{{ vpns1_proto }}'
nvram set vpns1_port='{{ vpns1_port }}'
nvram set vpns1_firewall='{{ vpns1_firewall }}'
nvram set vpns1_crypt='{{ vpns1_crypt }}'
nvram set vpns1_hmac='{{ vpns1_hmac }}'
nvram set vpns1_digest='{{ vpns1_digest }}'
nvram set vpns1_sn='{{ vpns1_sn }}'
nvram set vpns1_nm='{{ vpns1_nm }}'

# OpenVPN Server Configuration > Server 1 > Advanced
nvram set vpns1_poll='{{ vpns1_poll }}'
nvram set vpns1_plan='{{ vpns1_plan }}'
nvram set vpns1_plan1='{{ vpns1_plan1 }}'
nvram set vpns1_plan2='{{ vpns1_plan2 }}'
nvram set vpns1_plan3='{{ vpns1_plan3 }}'
nvram set vpns1_rgw='{{ vpns1_rgw }}'
nvram set vpns_dns='{{ vpns_dns }}'
nvram set vpns1_pdns='{{ vpns1_pdns }}'
nvram set vpns1_ncp_enable='{{ vpns1_ncp_enable }}'
nvram set vpns1_ncp_ciphers='{{ vpns1_ncp_ciphers }}'
nvram set vpns1_cipher='{{ vpns1_cipher }}'
nvram set vpns1_comp='{{ vpns1_comp }}'
nvram set vpns1_reneg='{{ vpns1_reneg }}'
nvram set vpns1_ccd='{{ vpns1_ccd }}'
nvram set vpns1_c2c='{{ vpns1_c2c }}'
nvram set vpns1_ccd_excl='{{ vpns1_ccd_excl }}'
nvram set vpns1_ccd_val='{{ vpns1_ccd_val }}'
nvram set vpns1_userpass='{{ vpns1_userpass }}'
nvram set vpns1_custom='{{ vpns1_custom }}'
nvram set vpns1_dhcp='{{ vpns1_dhcp }}'
