# OpenVPN Server Configuration > Server 2 > Basic
nvram set vpn_server2_eas='{{ vpn_server2_eas }}'  # to enable set ='1,', otherwise =''
nvram set vpn_server2_if='{{ vpn_server2_if }}'
nvram set vpn_server2_proto='{{ vpn_server2_proto }}'
nvram set vpn_server2_port='{{ vpn_server2_port }}'
nvram set vpn_server2_firewall='{{ vpn_server2_firewall }}'
nvram set vpn_server2_crypt='{{ vpn_server2_crypt }}'
nvram set vpn_server2_hmac='{{ vpn_server2_hmac }}'
nvram set vpn_server2_digest='{{ vpn_server2_digest }}'
nvram set vpn_server2_sn='{{ vpn_server2_sn }}'
nvram set vpn_server2_nm='{{ vpn_server2_nm }}'

# OpenVPN Server Configuration > Server 2 > Advanced
nvram set vpn_server2_poll='{{ vpn_server2_poll }}'
nvram set vpn_server2_plan='{{ vpn_server2_plan }}'
nvram set vpn_server2_plan1='{{ vpn_server2_plan1 }}'
nvram set vpn_server2_plan2='{{ vpn_server2_plan2 }}'
nvram set vpn_server2_plan3='{{ vpn_server2_plan3 }}'
nvram set vpn_server2_rgw='{{ vpn_server2_rgw }}'
nvram set vpn_server_dns='{{ vpn_server_dns }}'
nvram set vpn_server2_pdns='{{ vpn_server2_pdns }}'
nvram set vpn_server2_ncp_enable='{{ vpn_server2_ncp_enable }}'
nvram set vpn_server2_ncp_ciphers='{{ vpn_server2_ncp_ciphers }}'
nvram set vpn_server2_cipher='{{ vpn_server2_cipher }}'
nvram set vpn_server2_comp='{{ vpn_server2_comp }}'
nvram set vpn_server2_reneg='{{ vpn_server2_reneg }}'
nvram set vpn_server2_ccd='{{ vpn_server2_ccd }}'
nvram set vpn_server2_c2c='{{ vpn_server2_c2c }}'
nvram set vpn_server2_ccd_excl='{{ vpn_server2_ccd_excl }}'
nvram set vpn_server2_ccd_val='{{ vpn_server2_ccd_val }}'
nvram set vpn_server2_userpass='{{ vpn_server2_userpass }}'
nvram set vpn_server2_custom='{{ vpn_server2_custom }}'
nvram set vpn_server2_dhcp='{{ vpn_server2_dhcp }}'
