# Web Admin
nvram set http_enable='{{ http_enable }}'
nvram set https_enable='{{ https_enable }}'
nvram set http_lanport='{{ http_lanport }}'
nvram set https_lanport='{{ https_lanport }}'
nvram set jffs2_auto_unmount='{{ jffs2_auto_unmount }}'
nvram set remote_upgrade='{{ remote_upgrade }}'
nvram set remote_management='{{ remote_management }}'
nvram set remote_mgt_https='{{ remote_mgt_https }}'
nvram set http_wanport='{{ http_wanport }}'
nvram set http_wanport_bfm='{{ http_wanport_bfm }}'
nvram set web_wl_filter='{{ web_wl_filter }}'
nvram set web_dir='{{ web_dir }}'
nvram set web_css='{{ web_css }}'
nvram set web_adv_scripts='{{ web_adv_scripts }}'
nvram set https_crt_cn='{{ https_crt_cn }}'
nvram set https_crt_save='{{ https_crt_save }}'
nvram set web_mx='{{ web_mx }}'

# SSH Daemon
nvram set sshd_eas='{{ sshd_eas }}'
nvram set sshd_motd='{{ sshd_motd }}'
nvram set sshd_remote='{{ sshd_remote }}'
nvram set sshd_rport='{{ sshd_rport }}'
nvram set sshd_forwarding='{{ sshd_forwarding }}'
nvram set sshd_port='{{ sshd_port }}'
nvram set sshd_pass='{{ sshd_pass }}'
nvram set sshd_authkeys='{{ sshd_authkeys }}'

# Telnet Daemon
nvram set telnetd_eas='{{ telnetd_eas }}'
nvram set telnetd_port='{{ telnetd_port }}'

# Admin Restrictions
nvram set rmgt_sip='{{ rmgt_sip }}'
nvram set ne_shlimit='{{ ne_shlimit }}'

# Username / Password
nvram set http_username='{{ http_username }}'