# IP Traffic Monitoring
nvram set cstats_enable='{{ cstats_enable }}'
nvram set cstats_path='{{ cstats_path }}'
nvram set cstats_stime='{{ cstats_stime }}'
nvram set cstats_sshut='{{ cstats_sshut }}'
nvram set cstats_bak='{{ cstats_bak }}'
nvram set cstats_offset='{{ cstats_offset }}'
nvram set cstats_exclude='{{ cstats_exclude }}'
nvram set cstats_include='{{ cstats_include }}'
nvram set cstats_all='{{ cstats_all }}'
nvram set cstats_labels='{{ cstats_labels }}'