# Syslog
nvram set log_file='{{ log_file }}'
nvram set log_file_size='{{ log_file_size }}'
nvram set log_file_keep='{{ log_file_keep }}'
nvram set log_file_custom='{{ log_file_custom }}'
nvram set log_file_path='{{ log_file_path }}'
nvram set log_dropdups='{{ log_dropdups }}'
nvram set log_remote='{{ log_remote }}'
nvram set log_mark='{{ log_mark }}'
nvram set log_events='{{ log_events }}'
nvram set log_min_level='{{ log_min_level }}'
nvram set log_in='{{ log_in }}'
nvram set log_out='{{ log_out }}'
nvram set log_limit='{{ log_limit }}'

# Web Monitor
nvram set log_wm='{{ log_wm }}'
nvram set log_wmtype='{{ log_wmtype }}'
nvram set log_wmdmax='{{ log_wmdmax }}'
nvram set log_wmsmax='{{ log_wmsmax }}'
nvram set webmon_bkp='{{ webmon_bkp }}'
nvram set webmon_shrink='{{ webmon_shrink }}'
nvram set webmon_dir='{{ webmon_dir }}'
