# Bandwidth Monitoring
nvram set rstats_enable='{{ rstats_enable }}'
nvram set rstats_path='{{ rstats_path }}'
nvram set rstats_stime='{{ rstats_stime }}'
nvram set rstats_sshut='{{ rstats_sshut }}'
nvram set rstats_bak='{{ rstats_bak }}'
nvram set rstats_offset='{{ rstats_offset }}'
nvram set rstats_exclude='{{ rstats_exclude }}'
nvram set rstats_data='{{ rstats_data }}'
