# Reboot
nvram set sch_rboot='{{ sch_rboot }}'

# Reconnect
nvram set sch_rcon='{{ sch_rcon }}'

# Custom 1
nvram set sch_c1='{{ sch_c1 }}'
nvram set sch_c1_cmd='{{ sch_c1_cmd }}'

# Custom 2
nvram set sch_c2='{{ sch_c2 }}'
nvram set sch_c2_cmd='{{ sch_c2_cmd }}'

# Custom 3
nvram set sch_c3='{{ sch_c3 }}'
nvram set sch_c3_cmd='{{ sch_c3_cmd }}'

# Custom 4
nvram set sch_c4='{{ sch_c4 }}'
nvram set sch_c4_cmd='{{ sch_c4_cmd }}'

# Custom 5
nvram set sch_c5='{{ sch_c5 }}'
nvram set sch_c5_cmd='{{ sch_c5_cmd }}'