# SNMP Settings
nvram set snmp_enable='{{ snmp_enable }}'
nvram set snmp_port='{{ snmp_port }}'
nvram set snmp_remote='{{ snmp_remote }}'
nvram set snmp_remote_sip='{{ snmp_remote_sip }}'
nvram set snmp_location='{{ snmp_location }}'
nvram set snmp_contact='{{ snmp_contact }}'
nvram set snmp_ro='{{ snmp_ro }}'
