# TomatoAnon Settings   [Checkout my router]
nvram set tomatoanon_answer='{{ tomatoanon_answer }}'
nvram set tomatoanon_enable='{{ tomatoanon_enable }}'

# FreshTomato Update Notification System
nvram set tomatoanon_notify='{{ tomatoanon_notify }}'